# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

src/cscope.files
src/cscope.in.out
src/cscope.out
src/cscope.po.out
src/tags
